<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- FAVICONS ICON -->
    <link rel="icon" href="../../images/favicon.webp" type="image/x-icon"/>
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="../../css/docs.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/shCore.js"></script>
    <script type="text/javascript" src="../../js/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/shCoreDefault.css"/>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            color: #73879C;
            background: #F7F7F7;
        }
    </style>
    <style>
        /* Estilo para los textos */
        .texto-para-copiar {
            color: black; /* Color de texto por defecto */
            cursor: pointer; /* Cambia el cursor a mano */
        }

        /* Estilo para los textos cuando el mouse está encima */
        .texto-para-copiar:hover {
            color: blue; /* Cambia el color del texto en hover */
        }
    </style>
</head>


<body data-twttr-rendered="true" cz-shortcut-listen="true" id="inicio">
<a class="sr-only sr-only-focusable" href="http://getbootstrap.com/css/#content">Skip to main content</a>

<!-- Docs master nav -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#inicio">
                <img style="max-width:100px; margin-top: -9px;" src="../../images/logo1.webp" alt="...">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="../base.html">Inicio <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Server Configuration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#initial-setup"><strong>Step 1: Initial server setup</strong></a></li>
                        <li><a href="#server-config"><strong>Step 2: Server configuration</strong></a></li>
                        <li><a href="#postgres-setup">Step 2.1: ProstgreSQL setup </a></li>
                        <li><a href="#gunicorn-setup">Step 2.2: Gunicorn setup </a></li>
                        <li><a href="#supervisor-setup">Step 2.3: Supervisor setup </a></li>
                        <li><a href="#nginx-setup">Step 2.4: Nginx setup </a></li>
                        <li><a href="#ssl-setup"><strong>Step 3: SSL with Let's Encrypt</strong></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Templates <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../pages/gunicorn_config.html">Gunicorn bash</a></li>
                        <li><a href="../pages/supervisor_config.html">Supervisor config file</a></li>
                        <li><a href="../pages/nginx_config.html">Nginx config file</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container body" style="margin-top:50px">

    <div class="col-md-12 thumbnail" style="margin-top:30px; margin-bottom: 50px; padding:5px;">
        <img src="../../images/logo-01.png" style="width:100%;"/>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div id="initial-setup">
                <br><br>
                <div class="box">
                    <h1>Step 1: Initial Server Setup with Ubuntu 22.04</h1>
                </div>

                <ol type="a">
                    <h3 class="mb-3 pb-3">Logging in as root</h3>

                    <p><strong>Note:</strong> From <a
                            href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu#step-1-logging-in-as-root">Digitalocean
                        docs</a>
                    </p>
                    <br>

                    <li>Log in as the root user using the following command. Substitute the highlighted your_server_ip
                        portion of the command with your server’s public IP address:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="idSshRoot">ssh root@your_server_ip</p>
                            </div>
                            <button onclick="func_save_require('idSshRoot')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>Once you log in as root, you’ll be able to add the new user account. In the future, we’ll log in
                        with this new account instead of root. This example creates a new user called sammy, but you
                        should replace that with a username that you like:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="idAddUser">adduser sammy</p>
                            </div>
                            <button onclick="func_save_require('idAddUser')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>Add admin privileges to your new user, you will need to add the user to the sudo system
                        group. By default on Ubuntu, users who are members of the sudo group are allowed to use the sudo
                        command. <br>
                        As root, run this command to add your new user to the sudo group (substitute the highlighted
                        sammy username with your new user)::
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="usermodAdd">usermod -aG sudo sammy</p>
                            </div>
                            <button onclick="func_save_require('usermodAdd')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <h3>Setting up a firewall</h3> <br>

                    <li>Ubuntu servers can use the UFW firewall to ensure only connections to certain services are
                        allowed. You can set up a basic firewall using this application.
                        <br>
                        Applications can register their profiles with UFW upon installation. These profiles allow UFW to
                        manage these applications by name. OpenSSH, the service that allows you to connect to your
                        server, has a profile registered with UFW:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="idUfwList">ufw app list</p>
                            </div>
                            <button onclick="func_save_require('idUfwList')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>You will need to make sure that the firewall allows SSH connections so that you can log into
                        your server next time. Allow these connections by typing:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="ufwAllow">ufw allow OpenSSH</p>
                            </div>
                            <button onclick="func_save_require('ufwAllow')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>Now enable the firewall by typing:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="ufwEnable">ufw enable</p>
                            </div>
                            <button onclick="func_save_require('ufwEnable')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>Type y and press ENTER to proceed. You can see that SSH connections are still allowed by typing:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="ufwStatus">ufw status</p>
                            </div>
                            <button onclick="func_save_require('ufwStatus')">Copiar</button>
                        </div>
                        <br><br>
                        <p>The firewall is currently blocking all connections except for SSH. If you install and
                            configure additional services, you will need to adjust the firewall settings to allow the
                            new traffic into your server. You can learn some common UFW operations in our
                            <a href="https://www.digitalocean.com/community/tutorials/ufw-essentials-common-firewall-rules-and-commands"
                               target="_blank"><u>UFW Essentials guide.</u>
                            </a>
                        </p>
                        <br>
                    </li>

                    <h3>Enabling External Access for Your Regular User</h3> <br>

                    <li>If you logged in to your root account using SSH keys, then password authentication is disabled
                        for SSH. To log in as your regular user with an SSH key, you must add a copy of your local
                        public key to your new user’s ~/.ssh/authorized_keys file.Since your public key is already in
                        the root account’s ~/.ssh/authorized_keys file on the
                        server, you can copy that file and directory structure to your new user account using your
                        current session. <br><br>

                        The simplest way to copy the files with the correct ownership and permissions is with the rsync
                        command. This command will copy the root user’s .ssh directory, preserve the permissions, and
                        modify the file owners, all in a single command. Make sure to change the highlighted portions of
                        the command below to match your regular user’s name:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="rsyncUser">rsync --archive --chown=sammy:sammy
                                ~/.ssh/home/sammy</p>
                            </div>
                            <button onclick="func_save_require('rsyncUser')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>Now, open up a new terminal session on your local machine, and use SSH with your new username:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sshSammy">ssh sammy@your_server_ip</p>
                            </div>
                            <button onclick="func_save_require('sshSammy')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>You should be connected to your server with the new user account without using a password.
                        Remember, if you need to run a command with administrative privileges, type sudo before the
                        command like this:
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoWelcome">sudo nano Welcome</p>
                            </div>
                            <button onclick="func_save_require('sudoWelcome')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoRmWelcome">sudo rm -r Welcome</p>
                            </div>
                            <button onclick="func_save_require('sudoRMWelcome')">Copiar</button>
                        </div>
                        <br>
                        <p>You will be prompted for your regular user’s password when using sudo for the first time each
                            session (and periodically afterward).</p>
                    </li>


                </ol>
            </div>

            <div id="server-config">
                <br><br>
                <div class="box">
                    <h1>Step 2: Server configuration</h1>
                </div>

                <ol type="a">
                    <li>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoApt">sudo apt update</p>
                            </div>
                            <button onclick="func_save_require('sudoApt')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7">
                                <p id="sudoAptInstall">sudo apt install python3-dev virtualenv libpq-dev postgresql postgresql-contrib nginx curl</p>
                            </div>
                            <button onclick="func_save_require('sudoAptInstall')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <div id="postgres-setup"></div>
                    <br><br>
                    <h3 class="mb-3 pb-3">Step 2.1: ProstgreSQL setup</h3> <br>

                    <li>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoUPost">sudo -u postgres psql</p>
                            </div>
                            <button onclick="func_save_require('sudoUPost')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="createDb">CREATE DATABASE myproject;</p>
                            </div>
                            <button onclick="func_save_require('createDb')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="createUser">CREATE USER myprojectuser WITH PASSWORD 'password';</p>
                            </div>
                            <button onclick="func_save_require('createUser')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="alterRole1">ALTER ROLE myprojectuser SET client_encoding TO 'utf8';</p>
                            </div>
                            <button onclick="func_save_require('alterRole1')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="alterRole2">ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';</p>
                            </div>
                            <button onclick="func_save_require('alterRole2')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="alterRole3">ALTER ROLE myprojectuser SET timezone TO 'America/New_York';</p>
                            </div>
                            <button onclick="func_save_require('alterRole3')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="grantDb">GRANT ALL PRIVILEGES ON DATABASE myproject TO myprojectuser;</p>
                            </div>
                            <button onclick="func_save_require('grantDb')">Copiar</button>
                        </div>
                        <br>
                        <p>Exit psql</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="exitDb">\q</p>
                            </div>
                            <button onclick="func_save_require('exitDb')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <h3 id="users-setup" class="mb-3 pb-3">Step 2.2: Create users</h3> <br>

                    <li>Even though Django has a pretty good security track record, web applications can become
                        compromised. In order to make running multiple applications safer we’ll create a separate system
                        user account for each application. The apps will run on our system with the privileges of those
                        special users. Even if one application became compromised, an attacker would only be able to
                        take over the part of your system available to the hacked application.
                        <br><br>
                        Create system users named for each application and assign them to a system group for each
                        application,too (replace pamela for your user name):
                        <br>br
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="groupAdd">sudo groupadd --system webpamela</p>
                            </div>
                            <button onclick="func_save_require('groupAdd')">Copiar</button>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="userAdd">sudo useradd --system --gid webpamela --shell /bin/bash -m pamela</p>
                            </div>
                            <button onclick="func_save_require('userAdd')">Copiar</button>
                        </div>
                        <br>

                        <p>Note: Add VPS regular user to web app groups </p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="userSammyAdd">sudo adduser sammy webpamela</p>
                            </div>
                            <button onclick="func_save_require('userSammyAdd')">Copiar</button>
                        </div>
                        <br>

                        <p> Create /logs and /backups folders on project directory.</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="createLogs">sudo cd /home/pamela/ && sudo mkdir logs backups</p>
                            </div>
                            <button onclick="func_save_require('createLogs')">Copiar</button>
                        </div>
                        <br>

                        <p> Change the owner of files in each application’s folder and Assign the group "webxxxx" as the
                            owner, that allows user(s) belonging to "webxxxx" group, to access and modify parts of the
                            application which are group-writable:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="changeOwner">sudo chown -R pamela:webpamela /home/pamela/</p>
                            </div>
                            <button onclick="func_save_require('changeOwner')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <h3 id="user-environment" class="mb-3 pb-3">Step 2.3: User project environment</h3> <br>

                    <li> FROM NOW ON USE THE APPLICATION USERS!... From
                        <a target="_blank"
                           href="https://stackoverflow.com/questions/58622854/cloning-a-bitbucket-repository-via-ssh">
                            Cloning a Bitbucket repository via ssh
                        </a>
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoPamelaIn">sudo su - pamela</p>
                            </div>
                            <button onclick="func_save_require('sudoPamelaIn')">Copiar</button>
                        </div>
                        <br>

                        <p>Generate ssh keys for each application user</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sshKeygen">ssh-keygen -t rsa -C "your-email-address"</p>
                            </div>
                            <button onclick="func_save_require('sshKeygen')">Copiar</button>
                        </div>
                        <br>

                        <p>Log into Bitbucket -> View repository -> Access keys -> Add key Paste the key you have
                            generated. To get the key, run the following command:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="catSsh">cat ~/.ssh/id_rsa.pub</p>
                            </div>
                            <button onclick="func_save_require('catSsh')">Copiar</button>
                        </div>
                        <br>

                        <p>Go to your repository -> Clone. Now you can see the SSH url for your repository. Copy it.
                            Finally, clone the repository (Clone a specific branch):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="cloneRepo">git clone --branch [branch_name] [repository_ssh_url] [server_folder]</p>
                            </div>
                            <button onclick="func_save_require('cloneRepo')">Copiar</button>
                        </div>
                        <br>

                        <p>Now, Change the owner and group permissions of files and directories over all the DJANGO
                            PROJECT (Files and directories REMEMBER NOT TO APPLY ON VIRTUALENV!!):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="findFiles">sudo find [app_folder] -type f -exec chmod 664 {} \; </p>
                            </div>
                            <button onclick="func_save_require('findFiles')">Copiar</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="findDirs">sudo find [app_folder] -type d -exec chmod 775 {} \; </p>
                            </div>
                            <button onclick="func_save_require('findDirs')">Copiar</button>
                        </div>
                        <br>
                        <p><strong>Note: </strong>DON'T FORGET TO ADD THIS ON APP.SETTINGS!: <br>FILE_UPLOAD_PERMISSIONS
                            = 0o644</p>
                    </li>

                    <li><p>Create and activate virtual Python environments in each application directory (eg.):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="createVenv">virtualenv -p /usr/bin/python3.10 pamela-venv</p>
                            </div>
                            <button onclick="func_save_require('createVenv')">Copiar</button>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sourceVenv">source
                                /home/pamela/pamela-venv/bin/activate</p>
                            </div>
                            <button onclick="func_save_require('sourceVenv')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li><p>Install requirements, check, run migrations, populate cities database, collectstatic and
                        createsuperuser</p>
                        <br>
                    </li>

                    <li><p>Create an exception for port 8000 and you can test your project by starting up the Django
                        development server (as VPS sudo user):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoUfwAllow">sudo ufw allow 8000</p>
                            </div>
                            <button onclick="func_save_require('sudoUfwAllow')">Copiar</button>
                        </div>
                        <br>

                        <p>Then, as project user run:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="projectRun">python manage.py runserver 0:8000</p>
                            </div>
                            <button onclick="func_save_require('projectRun')">Copiar</button>
                        </div>
                        <br>

                        <p>In web browser, you should see the project</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="projectRunLocal">http://server_domain_or_IP:8000</p>
                            </div>
                            <button onclick="func_save_require('projectRunLocal')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <div id="gunicorn-setup"></div>
                    <br><br>
                    <h3 class="mb-3 pb-3">Step 2.4: Gunicorn setup</h3> <br>

                    <li><p><strong>"Test Gunicorn’s Ability to Serve the Project"</strong></p><br>
                        <p>As project USER (e.g. pamela):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="pipGunicorn">pip install gunicorn</p>
                            </div>
                            <button onclick="func_save_require('pipGunicorn')">Copiar</button>
                        </div>
                        <br>

                        <p>Within project root (cd ~/myprojectdir):</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="runProjectGunicorn">gunicorn --bind 0.0.0.0:8000
                                myproject.wsgi</p>
                            </div>
                            <button onclick="func_save_require('runProjectGunicorn')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li><p>Gunicorn is installed and ready to serve your app. Let’s set some configuration options to
                        make it more useful. I like to set a number of parameters, so let’s put them all into a small
                        BASH script, which I save as bin/gunicorn_start. (CREATE bin/gunicorn_start.bash file for each
                        app). <strong>NOTE: WITHIN VIRTUALENV.</strong></p>
                        <br>
                        <p>So, update and save <strong>gunicorn_start.bash template</strong></p>
                        <br>

                        <p>Now, set the executable bit on the gunicorn_start script:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="chmodBash">chmod u+x gunicorn_start.bash</p>
                            </div>
                            <button onclick="func_save_require('chmodBash')">Copiar</button>
                        </div>
                        <br>

                        <p>Test your gunicorn_start script by running it:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="testBash">./gunicorn_start.bash</p>
                            </div>
                            <button onclick="func_save_require('testBash')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <div id="supervisor-setup"></div>
                    <br><br>
                    <h3 class="mb-3 pb-3">Step 2.3: Supervisor setup</h3> <br>

                    <li><p>Install Supervisor (as VPS sudo user)</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoInstalSuperv">sudo apt install supervisor</p>
                            </div>
                            <button onclick="func_save_require('sudoInstalSuperv')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li><p>Create Supervisor config file (as VPS sudo user)</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoNanoSupervisor">sudo nano
                                /etc/supervisor/conf.d/app_name.conf</p>
                            </div>
                            <button onclick="func_save_require('sudoNanoSupervisor')">Copiar</button>
                        </div>
                        <br>
                        <p>So, update and save <strong>supervisor.conf template</strong></p>
                        <br>
                    </li>

                    <li><p>Reread the configuration files and update Supervisor to start the app:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="supervReread">sudo supervisorctl reread</p>
                            </div>
                            <button onclick="func_save_require('supervReread')">Copiar</button>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="supervUpdate">sudo supervisorctl update</p>
                            </div>
                            <button onclick="func_save_require('supervUpdate')">Copiar</button>
                        </div>
                        <br>

                        <p>You can also start them manually, if you prefer:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="supervUpdate">sudo supervisorctl start
                                "project_app"</p>
                            </div>
                            <button onclick="func_save_require('supervUpdate')">Copiar</button>
                        </div>
                        <br>
                        <p><strong>Note:</strong>Your application should now be automatically started after a system
                            reboot and automatically restarted if it ever crashed for some reason.</p>
                    </li>


                    <div id="nginx-setup"></div>
                    <br><br>
                    <h3 class="mb-3 pb-3">Step 2.5: Nginx setup</h3> <br>

                    <li><p>Start nginx:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="sudoStartNginx">sudo service nginx start</p>
                            </div>
                            <button onclick="func_save_require('sudoStartNginx')">Copiar</button>
                        </div>
                        <br>
                    </li>

                    <li><p>Create nginx block server in /etc/nginx/sites-available/ folder and enable:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="nanoNginxFile">sudo nano
                                /etc/nginx/sites-available/[app_name]</p>
                            </div>
                            <button onclick="func_save_require('nanoNginxFile')">Copiar</button>
                        </div>
                        <br>
                        <p>So, update and save <strong>Nginx configuration template</strong></p>
                        <br>
                    </li>

                    <li><p>Now, create nginx symbolic file:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="symbolicNginx">sudo ln -s
                                /etc/nginx/sites-available/[app_name] /etc/nginx/sites-enabled/[app_name]</p>
                            </div>
                            <button onclick="func_save_require('symbolicNginx')">Copiar</button>
                        </div>
                        <br>

                        <p>Text nginx file:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="nginxTest">sudo nginx -t</p>
                            </div>
                            <button onclick="func_save_require('nginxTest')">Copiar</button>
                        </div>
                        <br>

                        <p>Restart nginx:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="nginxRestart">sudo service nginx restart</p>
                            </div>
                            <button onclick="func_save_require('nginxRestart')">Copiar</button>
                        </div>
                        <br>

                        <p>UFW allow Nginx full:</p>
                        <div class="row">
                            <div class="col-lg-3 col-xs-7"><p id="nginxUFWFull">sudo ufw allow 'Nginx Full'</p>
                            </div>
                            <button onclick="func_save_require('nginxUFWFull')">Copiar</button>
                        </div>
                        <br>
                    </li>


                </ol>
            </div>


            <div id="ssl-setup">
                <br><br>
                <div class="box">
                    <h1>Step 3: SSL with Let's Encrypt</h1>
                </div>

                <ol type="a">
                    <li>Run the tutorial presented by Digital ocean here:
                        <a target="_blank"
                           href="https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-22-04">Let's
                            Encrypt tutorial</a>
                        <br><br>
                    </li>
                </ol>
            </div>

        </div>
    </div>
</div>


<!-- footer content -->
<footer>
    <center>
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="copyright-text">
                        <p class="company-about fadeIn">&copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Desarrollado por
                            <a href="https://www.ideafix.com.co/">ideafix - Soluciones de Ingeniería</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </center>
</footer>
<!-- /footer content -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../js/jquery.min.js"></script>


<script src="../../js/bootstrap.min.js"></script>

<script>
    function func_save_require(object) {
        var p = document.getElementById("" + object);
        var copyText = p.textContent;
        navigator.clipboard.writeText(copyText);
    }
</script>

</body>

</html>