<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- FAVICONS ICON -->
	<link rel="icon" href="../../images/favicon.webp" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="../../css/docs.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/shCore.js"></script>
    <script type="text/javascript" src="../../js/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/shCoreDefault.css" />
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <style>
        body {
            color: #73879C;
            background: #F7F7F7;
        }
    </style>
    <style>
        /* Estilo para los textos */
        .texto-para-copiar {
            color: black; /* Color de texto por defecto */
            cursor: pointer; /* Cambia el cursor a mano */
        }

        /* Estilo para los textos cuando el mouse está encima */
        .texto-para-copiar:hover {
            color: blue; /* Cambia el color del texto en hover */
        }
    </style>
</head>


<body data-twttr-rendered="true" cz-shortcut-listen="true" id="inicio">
    <a class="sr-only sr-only-focusable" href="http://getbootstrap.com/css/#content">Skip to main content</a>

    <!-- Docs master nav -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#inicio">
                    <img style="max-width:100px; margin-top: -9px;" src="../../images/logo1.webp" alt="...">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../base.html">Inicio <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Comandos Django <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#crear-entorno-virtual">Entorno virtual</a></li>
                            <li><a href="#instalar-django">Instalación</a></li>
                            <li><a href="#crear-proyecto-django">Crear proyecto</a></li>
                            <li><a href="#crear-aplicacion-django">Crear aplicación</a></li>
                            <li><a href="#migraciones">Migraciones</a></li>
                            <li><a href="#crear-superuser">Crear superusuario</a></li>
                            <li><a href="#lanzar-servidor">Lanzar servidor</a></li>
                            <li><a href="#requirements">Requirements</a></li>
                            <li><a href="#matar-procesos-puerto">Matar proceso</a></li>
                            <li><a href="#subir-cambios-servidor">Subir cambios al servidor</a></li>
                            <li><a href="#subir-cambios-servidor-git">Subir cambios al servidor desde GIT</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Snippets Django <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#concatenate-date">Concatenar tag DATE</a></li>
                            <li><a href="#instalar-ckeditor">Instalar ckeditor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Snippets HTML <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#boton-whatsapp">Botón de whatsapp</a></li>
                            <li><a href="#recorrer-datatable">Recorrer Datatable</a></li>
                            <li><a href="#instalar-ytdefer">Instalar lib. youtube</a></li>
                        </ul>
                    </li>
                    <li><a href="pages/servidor.html">Servidor</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body" style="margin-top:50px">

        <div class="col-md-12 thumbnail" style="margin-top:30px; margin-bottom: 50px; padding:5px;">
            <img src="../../images/logo-01.png" style="width:100%;" />
        </div>

        <div class="row">
            <div class="col-md-12">

                <div id="comandos-django">
                </div>

                <br>
                <hr>

                <div id="concatenate-date">
                </div>

                <br>
                <hr>

                <div id="instalar-ckeditor">
                </div>

                <br>
                <hr>

                <div id="boton-whatsapp">
                </div>
                
                <br>
                <hr>


                <div id="recorrer-datatable">
                </div>

                <br>
                <hr>

                <div id="instalar-ytdefer">
                </div>

                <br>
                <hr>

            </div>

        </div>

    </div>

    <!-- footer content -->
    <footer>
        <center>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="copyright-text">
                            <p class="company-about fadeIn">&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                Desarrollado por
                                <a href="https://www.ideafix.com.co/">ideafix - Soluciones de Ingeniería</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </footer>
    <!-- /footer content -->

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.min.js"></script>

    <script src="../../js/bootstrap.min.js"></script>

    <script>
        // Función para copiar el texto al portapapeles
        function copiarTextoAlPortapapeles(texto) {
            // Crea un elemento de textarea temporal para copiar el texto
            var textarea = document.createElement("textarea");
            textarea.value = texto;
            document.body.appendChild(textarea);

            // Selecciona y copia el texto
            textarea.select();
            document.execCommand("copy");

            // Elimina el textarea temporal
            document.body.removeChild(textarea);
        }

        // Obtiene todos los elementos <p> con la clase "texto-para-copiar"
        var textosParaCopiar = document.querySelectorAll(".texto-para-copiar");

        // Itera sobre todos los elementos para agregar el evento de clic
        textosParaCopiar.forEach(function(textoParaCopiarElemento) {
            textoParaCopiarElemento.addEventListener("click", function() {
                // Copia el texto al portapapeles cuando se hace clic en el elemento <p>
                copiarTextoAlPortapapeles(textoParaCopiarElemento.innerText);
            });
        });
    </script>

</body>

</html>