<!-- Docs master nav -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#inicio">
                <img style="max-width:100px; margin-top: -9px;" src="images/logo1.webp" alt="...">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#inicio">Inicio <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Comandos Django <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#crear-entorno-virtual">Entorno virtual</a></li>
                        <li><a href="#instalar-django">Instalación</a></li>
                        <li><a href="#crear-proyecto-django">Crear proyecto</a></li>
                        <li><a href="#crear-aplicacion-django">Crear aplicación</a></li>
                        <li><a href="#migraciones">Migraciones</a></li>
                        <li><a href="#crear-superuser">Crear superusuario</a></li>
                        <li><a href="#lanzar-servidor">Lanzar servidor</a></li>
                        <li><a href="#requirements">Requirements</a></li>
                        <li><a href="#matar-procesos-puerto">Matar proceso</a></li>
                        <li><a href="#subir-cambios-servidor">Subir cambios al servidor</a></li>
                        <li><a href="#subir-cambios-servidor-git">Subir cambios al servidor desde GIT</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Snippets Django <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#concatenate-date">Concatenar tag DATE</a></li>
                        <li><a href="#instalar-ckeditor">Instalar ckeditor</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Snippets HTML <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#boton-whatsapp">Botón de whatsapp</a></li>
                        <li><a href="#recorrer-datatable">Recorrer Datatable</a></li>
                        <li><a href="#instalar-ytdefer">Instalar lib. youtube</a></li>
                    </ul>
                </li>
                <li><a href="#inicio">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>